@import "tailwindcss";

/*Background Color*/

.theme-primary-background {
  background-color: rgba(27, 38, 59, 1);
}

.theme-secondary-background {
  background-color: #f6f6f6;
}

.theme-text {
  background: linear-gradient(
    135deg,
    #00d2ff 0%,
    #7f00ff 35%,
    #ff7b00 70%,
    #ff007f 100%
  );
  font-weight: bold;
  /* The magic properties that force the gradient into the text */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Text Color*/
.text-typography-primary {
  color: rgba(31, 31, 31, 1);
}

.text-typography-secondary {
  color: rgba(226, 232, 240, 1);
}

/*Font-Style*/
body {
  font-family: var(--font-work-sans), sans-serif;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

/*Height*/

.h-screen-90 {
  height: 90vh;
}

/*Color*/

.text-primary {
  color: #fd5151;
}

.text-progress {
  color: #ff8300;
}

.text-success {
  color: #048236;
}

.text-error {
  color: #ff0000;
}

.text-warning {
  color: #996c15;
}

/*Side Menu Icon*/
.sidemenu-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.rs-nav-item[data-active="true"] {
  background: rgba(27, 38, 59, 1) !important;
  color: white !important;
  border-radius: 6px;
  padding: 8px 16px;
  margin: 0 2px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.rs-nav[data-appearance="subtle"] .rs-nav-item[data-active="true"]::before {
  content: none !important;
  display: none !important;
}

.rs-nav[data-appearance="subtle"] .rs-nav-item {
  position: relative;
  color: rgba(31, 31, 31, 1);
}
